
<!DOCTYPE html>
<html>
<head>
	<title>Edit Teacher</title>
	<script type="text/javascript" src="/js/lib/jQuery.js"></script>

</head>
<body>

<form action="/teacher/<%=teacher._id%>?_method=PUT" method="POST">
	<div>
		<input type="text" name="teacher[name]" placeholder="name" required="true" value="<%=teacher.name%>">
	</div>
	<div>
		<input type="text" name="teacher[image]" placeholder="image" value="/images/default.png" value="<%=teacher.image%>" readonly="true">
	</div>
	<div>
		<select id="branch" name="teacher[branch]" required="true">
			<option value="">Select Branch</option>
			<option value="CSE">CSE</option>
			<option value="MECHANICAL">Mechanical</option>
			<option value="CIVIL">Civil</option>
			<option value="INSTRUMENTATION">Instrumentation</option>
			<option value="ELECTRICAL">Electrical</option>
			<option value="MATHS">Maths</option>
			<option value="PHYSICS">Physics</option>
			<option value="CHEMISTRY">Chemistry</option>
			<option value="HUMANITIES">Humanities</option>
			<option value="MCA">MCA</option>
		</select>
	</div>

	<%var i=0%>

	<% teacher.subjects.forEach((subject)=>{%>
		<div >
			<input type="text" class="cap" name="subject[subject<%=i%>][subjectName]" placeholder="subject" onkeydown="upperCaseF(this)" required="true" value="<%=subject.subjectName%>">
			<input type="text" class="cap" name="subject[subject<%=i%>][subjectCode]" placeholder="subject code" onkeydown="upperCaseF(this)" required="true" value="<%=subject.subjectCode%>">
			<select name="subject[subject<%=i++%>][semester]" required="true">
				<option value="">Select Semester</option>

				<% var postfix;
					for(var j=1; j<=8; j++){
						if(j===1) postfix = "st";
						else if(j===2) postfix = "nd";
						else if(j===3) postfix = "rd";
						else postfix = "th"; 
						if( j===Number(subject.semester)){%>
							<option selected="selected" value="<%=j%>"><%=j%><%=postfix%> Semester</option>
						<% } else {%>
							<option value="<%=j%>"><%=j%><%=postfix%> Semester</option>
						<%}%>
				<%}%>
			</select>
			<input class="deleteButton" type="button" value="Delete" >
		</div> 
	<% });%>

	<div class="addButton" >
		<input type="button"  value="Add subject">
	</div>
	<div>
		<input type="submit" value="submit">
	</div>
</form>


<script type="text/javascript">

	//select branch
	$("#branch > option").each(function() {
		if($(this).attr("value")==="<%=teacher.branch%>")
			$(this).attr("selected","true");
	});

	var p = <%=i%>;
	var postfix="num";

	//add subjects input tag
	$("form").on("click", ".addButton", function(event){
		$(".addButton").before("<div> ");
		$(".addButton").prev().append("<input type=\"text\" name=\"subject[subject"+p+"][subjectName]\" placeholder=\"subject\" onkeydown=\"upperCaseF(this)\" required=\"true\"> ");
		$(".addButton").prev().append("<input type=\"text\" name=\"subject[subject"+p+"][subjectCode]\" placeholder=\"subject code\" onkeydown=\"upperCaseF(this)\" required=\"true\">");

		$(".addButton").prev().append(" <select name=\"subject[subject"+p+"][semester]\" required=\"true\" >");
		$(".addButton").prev().children("select").append("<option value=\"\">Select Semester</option>");
		
		for(var i=1; i<=8; i++){
			
			if(i===1) postfix = "st";
			else if(i===2) postfix = "nd";
			else if(i===3) postfix = "rd";
			else postfix = "th";

			$(".addButton").prev().children("select").append("<option value=\""+i+"\">"+i+postfix+" Semester</option>");
		}

		$(".addButton").prev().append(" <input class=\"deleteButton\" type=\"button\" value=\"Delete\" >");
		p++;
	});

	function upperCaseF(a){
   		setTimeout(function(){
        	a.value = a.value.toUpperCase();
    	}, 1);
   	}
   	$('.cap').val (function () {
    	return this.value.toUpperCase();
	});

   	 	
   	$("form").on("click", ".deleteButton", function(event){
   		$(this).parent().remove();
   		event.stopPropagation();
   	});
</script>

	
</body>
</html>
	
