<%include ./partials/header.ejs%>

<div class="container">
<header class="jumbotron">
		<div>
			<h1>Welcome to Teacher's Page</h1>
			<p>All registered teachers are shown.</p>
			<div class="form-inline">
				<div class="form-group">
					<a href="/teacher/new" class="btn btn btn-primary ">Add new teacher</a>		
				</div>
				<div class="form-group">
					<% if(Object.keys(teacher).length>0){%>
						<form id="delete" action="/teacher/delete?_method=DELETE" method="POST">
							<input value="Delete All Teachers" class="btn btn btn-danger size" onClick="confirmation()">
						</form>
					<%}%>		
				</div>
			</div>
		</div>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap;"> 

	<% teacher.forEach((teacher)=>{%>
		<div class="col-md-4 col-sm-6">
			<div class="thumbnail">
				<img src="<%=teacher.image%>">
				<div class="caption">
					<a href="#"><h1><%=teacher.name%></h1></a>
					<div class="panel panel-success">
						<div class="panel-heading"><%=teacher.branch %></div>
						<ul class="list-group">
							<%teacher.subjects.forEach((subject)=>{%>
							<li class="list-group-item"><strong><%=subject.subjectName%></strong>   -   <%=subject.semester%> sem</li>
							<%}); %>
						</ul>
						<div class="panel-footer">
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
							  <div class="btn-group" role="group" style="float:left; width:45%">
							  	<a class="btn btn-xs btn-warning btn-group btn-group-sm" role="group"
								href="/teacher/<%=teacher._id %>/edit">
									Edit
								</a>
							  </div>
							  <div class="btn-group" role="group" style="float:right; width:45%">
							  	<form id="delete-form" action="/teacher/<%=teacher._id%>?_method=DELETE" method="POST">
									<button id="del" role="group" class="btn btn-xs btn-danger btn-group btn-group-sm">Delete</button>
								</form>
							  </div>
							</div>


									
								
						</div>
					</div>
				</div>
			</div>
		</div>		
	<%})%>
</div>

<script type="text/javascript">
	function confirmation(){
		if(confirm("Are you sure You want to delete")){
			document.getElementById("delete").submit();
			return;
		}else{
			return;
		}
	}
</script>

<%include ./partials/footer.ejs%>


